
/* variables list */
:root { 
	font-size: 16px;
	---root-size: 1rem;

	/* general styles */
	--heading-font-family:"Bricolage Grotesque", serif;
	/* color:rgb(0, 0, 0); */
}

body{
	font-size: var(--root-size);
	font-family: inter, sans-serif;
	line-height: 1.5;
	text-align: start;
	margin-left: 20px;
	padding: var(--spacing);
}

/* heading styles */
h1{
	font-family: "Bricolage Grotesque", sans-serif;
	font-size:55px;
	font-weight:bold;
	line-height:65px;
	text-transform:Uppercase;
	color:black;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
}

/*class-styles */
.header-outline-text{
	font-size:85px;
	/* --webkit-text-stroke-color: black; */
	/* --webkit-text-stroke-width: medium; */
}

.repeted-words{
	color:#FF72DE;
}

/* id-styles */

#uppercase-words{
	text-transform: uppercase;
	color:blue
}

#date{
	font-family:"bricolage Grotesque", serif;
	font-size:12px;
	font-weight:bold;
	position:relative;
	left:200px;
	top:-300px;
	color:#3718FF
}

#author{
	font-size:14px;
	color:#FF72DE;
}

#secondh2{
	font-size: 80px;
line-height:1.2em;

}

#author{
	padding-top:10px;
	font-size:24px;
}

.quote{
	line-height:25px;
	color:white;
	padding:5px;
	background-color:#3718FF;
	font-family: serif;
	font-style: italic;
}
.blackbox{
	background-color: black;
	font-family: serif;
	font-style:italic;
	padding:20px;
	line-height: 25px;
	
}
.responsive-row{
	margin-top: var(--root-size)
	display:flex;
	flex-direction: column;
	gap: var(--root-size);
}

.colum{
	width: 100%
}

/* section-color */
.black-bg{
	background-color: black;
	padding: 30px;
	color: white;
}

.yellow-bg{
	background-color: rgb(240, 197, 24);
	padding:30px;
	margin-top :30px;

}
.pink-bg{
	background-color:rgb(212, 67, 205);
	padding: 30px;
	margin-top: 30px;
	color: white;
}

.black-bg2{
	background-color: black;
	margin-left: -3em;
	margin-right: -4em;
	padding: 30px;
	color: white;
}

/* animated text */
.animated-text {
	width: 100%;
	min-width: 375px;
	height: 40px;
	background-color: #e924ae;
	margin-top: -10%;
	margin-left: -20%;
	padding-right: 10px;
}

.moving-text{
	position: relative;
	font-family:"bricolage Grotesque", serif;
	font-size: 30px;
	-webkit-animation: movingtitle 4s infinite alternate linear;
	animation: movingtitle 4s infinite alternate linear;
	white-space: nowrap;
	overflow: hidden;
}


@-webkit-keyframes movingtitle
{
/* modified */
    to {text-indent:100%;}
}
@keyframes movingtitle
{
/* modified */
    to {text-indent:100%;}
}

/*paragraph-styless*/
p{
	text-indent:20px;
}

.container{
	width: 100%;
	margin-left:auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

section:first-child {background-color:black;}

/* Mobile-Media-Query */
@media (min-width:375px){
	p{
		width: 100%;
	}

	/* :root{ */
	/* ---root-size:1.5rem; */
}

/* Breakpoint Media Query */
@media (min-width: 825px)
	:root{
		--font-size: 18px;
		--spacing: 20px;
	}

/* Desktop Media Query */
@media (min-width: 1280px){
	/* :root{ */
		
	}
	/* .responsive-row{ */
		/* flex-direction: row; */
	}
}

main{
	max-width: 35rem;
}

header{
	background:white
	color:black;
	/* min-height:var(--header-height); */
	/* margin-bottom:var(--main-margin); */
	/* padding:var(--header-padding); */
}