:root {
	---root-size: 1rem;
	color:rgb(0, 0, 0);
}

body{
	font-size: var(--root-size);
	font-family: inter, sans-serif;
	line-height: 1.5;
	padding: 40px;
	
	/* background:  linear-gradient(to bottom, white 0%, white 50%,black 50%, black 100%); */
}

#article-title{
	font-family: "Bricolage Grotesque", serif;
	font-size: 3em;
	line-height:1;
	color:black;

}

#date{
	font-size:15px;
	text-align: end;
}

#author{
	padding-top:10px;
	font-size:24px;
}

.quote{
	line-height:25px;
	color:white;
	padding:5px;
	background-color:#3718FF;
	font-family: serif;
	font-style: italic;

}
.responsive-row{
	margin-top: var(---root-size)
	display:flex;
	flex-direction: column;
	gap: var(---root-size);
}

.colum{
	width: 100%
}

.black-bg{
	background-color: black;
	/* margin-left: -3em; */
	/* margin-right: -4em; */
	padding: 30px;
	color: white;
}

.black-bg2{
	background-color: black;
	margin-left: -3em;
	margin-right: -4em;
	padding: 30px;
	color: white;
}

/* div.textline */
{
	width: 100%;
	min-width:375px;
	height: 50px;
	background-color: #e924ae;
	margin-top:-10%;
	margin-left:-20%;
	padding-right: 10px;
}

/* div.moving */
{
	position: relative;
	font-family: Arial;

	font-size: 30px;
	font-weight: bold;
	-webkit-animation: movingtitle 4s infinite alternate linear;
	animation: movingtitle 4s infinite alternate linear;

	white-space:nowrap;
	overflow:hidden;
}

@-webkit-keyframes movingtitle
{
/* modified */
    to {text-indent:100%;}
}
@keyframes movingtitle
{
/* modified */
    to {text-indent:100%;}
}



#black-bg{
	background-color:black;
}

/*paragraph-styless*/
p{
	text-indent:20px;
}

@media (min-width:375px){
	:root{
		---root-size:1.5rem;
	}
	main{
		max-width: 20rem;
	}

	section>p{
		font-size:1.2rem;
	}
}

@media (min-width: 1280px){
	.responsive-row{
		flex-direction: row;
	}
}

main{
	max-width: 35rem;
}

section>p{
	font-size:1.2rem;
}

/* @media print { */
	:root{
		--root-size: 1rem;
	}
}
